apiVersion: apps/v1
kind: Deployment
metadata:
  name: webserver1
spec:
  replicas: 5
  selector:
    matchLabels:
      app: webserver1
  template:
    metadata:
      labels:
        app: webserver1
    spec:
      containers:
        - name: webserver1
          image: patakib/webserver:latest
          ports:
            - containerPort: 8080